.postDetails {

  display: flex;
  flex-direction: column;

  .tags {
    min-width: 200px;
    max-width: 1000px;
    margin-left: 10px;
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 5px lightgray;
    padding: 10px;
    border-radius: 5px;
  }

  .codeBox {
    padding: 20px;
    min-width: 200px;
    max-width: 1900px;
    border-radius: 4px;
    max-height: 100px;
    min-height: 50px;
    background-color: rgb(30, 8, 54);
  }

  code {
    color: cyan;
    padding: 20px;
  }

}